@model PhotoAlbum.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>... or log in with:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <div class="">
                    <div class="btn-group-vertical">
                        @{ var vk = loginProviders.First(x => x.Caption == "Vkontakte");
                            var facebook = loginProviders.First(x => x.Caption == "Facebook");
                            var twitter = loginProviders.First(x => x.Caption == "Twitter"); }
                        <button class="btn btn-vk btn-social" type="submit" id="@vk.AuthenticationType" name="provider" value="@vk.AuthenticationType" title="Log in using your @vk.Caption account">
                            <span class="fa fa-vk"></span> VK
                        </button>
                        <button class="btn btn-facebook btn-social" type="submit" id="@facebook.AuthenticationType" name="provider" value="@facebook.AuthenticationType" title="Log in using your @facebook.Caption account">
                            <span class="fa fa-facebook"></span> Facebook
                        </button>
                        <button class="btn btn-twitter btn-social" type="submit" id="@twitter.AuthenticationType" name="provider" value="@twitter.AuthenticationType" title="Log in using your @twitter.Caption account">
                            <span class="fa fa-twitter"></span> Twitter
                        </button>
                    </div>
                    <hr />
                </div>
            </div>
        }
    }
}
