@model PhotoAlbum.Models.AlbumViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 column-vcenter">
            <h2>Details</h2>

            <div>
                <h4>Album</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Album.User.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Album.User.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Album.AlbumName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Album.AlbumName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Album.IsPrivate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Album.IsPrivate)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Album.Id }) |
                @Html.ActionLink("Back to List", "Index") |
                @Html.ActionLink("Slideshow", "Slideshow", new { albumId = Model.Album.Id })
            </p>
            <hr />
        </div>

        <div class="col-md-5 text-center column-vcenter">
            <div id="rating_block" hidden>
                <h4>Rate album:</h4>
                <div class="ratebox" data-id="ratebox_1" style="margin: auto;"></div>
            </div>
            <div id="rating_spinner">
                <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
                <span class="sr-only">Loading rating...</span>
            </div>
        </div>
    </div>


    @{ int i = 0; }

    @foreach (var photo in Model.Photos)
    {
        var url = $"/Photo/{ photo.Guid }";
        var urlForAviary = string.Format("data:image;base64,{0}", Convert.ToBase64String(photo.Image));

        if (i % 3 == 0)
        {
            WriteLiteral("<div class=\"row\">");
        }
        <div class="@photo.Id">
            <div class="col-md-4">
                <div class="img-container img-rounded text-center">
                    <img style="width: 100%;" class="@photo.Id" id="@photo.Id" src="@url" data-toggle="modal" data-target="#modal_@i" />
                </div>
                <br />
            </div>

            <div id="modal_@i" class="modal fade text-center" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Image</h4>
                        </div>
                        <div class="modal-body">
                            <p><img class="@photo.Id" style="width:100%;max-width:600px;" src="@url" /></p>
                            <p><input type='image' id="imgInput" src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' onclick="return launchEditor('@photo.Id', '@urlForAviary');" /></p>
                            <input type="submit" value="Delete" onclick="deletePhoto(@photo.Id);" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (i % 3 == 2)
        {
            WriteLiteral("</div>");
        }
        i++;

    }

    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="editor_block" hidden>
                <h4>Comment album:</h4>
                <div style="margin-bottom: 25px;">
                    <div id="comment_editor"></div>
                    @using (Ajax.BeginForm("WriteComment", "Albums",
                        new AjaxOptions { OnSuccess = "writeCommentSuccessCallback" }))
                    {
                        <input type="hidden" name="albumId" id="album_id" value="@Model.Album.Id" />
                        <input type="hidden" name="commentHtml" id="comment_html" value="" />
                        <button type="submit" id="send-comment" style="width: 150px;" class="btn btn-primary">Send</button>
                    }
                </div>
            </div>

            <div id="editor_spinner" class="text-center" style="margin: 25px;">
                <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
                <span class="sr-only">Loading editor...</span>
            </div>
        }

        <div id="comments"></div>

        <div id="comments_spinner" class="text-center" style="margin: 25px;">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
            <span class="sr-only">Loading comments...</span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/summernote.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>

    <script>
        var albumId = @Model.Album.Id;
        var userId = '@User.Identity.GetUserId()';
        var starSize = 30;
    </script>
    <script src="~/Scripts/errorHandling.js"></script>
    <script src="~/Scripts/pushNotifications.js"></script>
    <script src="~/Scripts/raterater.jquery.js"></script>
    <script src="~/Scripts/rating.js"></script>
    <script src="~/Scripts/desktop.js"></script>

    <!-- Aviary editor -->
    <script type="text/javascript" src="http://feather.aviary.com/imaging/v3/editor.js"></script>
    <script src="~/Scripts/aviary.js"></script>
}

@section css
{
    <link href="@Url.Content("~/Content/raterater.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/summernote.css")" rel="stylesheet" type="text/css">
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
}
