@model PhotoAlbum.Models.Album
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Mobile";
}

<div class="container">
    <h3>Mobile version of <span style="color: mediumseagreen;">@Model.AlbumName</span></h3>
    <h4>Created by <span style="color: mediumseagreen;">@Model.User.UserName</span></h4>

    <div id="photo_container">
        <div data-bind="foreach: photos">
            <div class="row">
                <div class="col-xs-12">
                    <image style="width: 100%; margin-top: 15px;" data-bind="attr: { src: $data }" />
                </div>
            </div>
        </div>
        <div data-bind="ifnot: isPhotosLoaded" class="text-center" style="margin: 25px;">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
            <span class="sr-only">Loading photos...</span>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div hidden id="rating_block">
            <hr />
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h4>Rate album:</h4>
                    <div style="margin: auto;" class="ratebox" data-id="ratebox_1"></div>
                </div>
            </div>
            <hr />
        </div>
        <div id="rating_spinner" class="text-center" style="margin: 25px;">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
            <span class="sr-only">Loading comments...</span>
        </div>
    }

    <div id="comments_block">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-bottom: 25px;">
                <div id="write_comment">
                    <div class="text-center" style="margin-bottom: 25px;">
                        <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
                        <span class="sr-only">Loading comment box...</span>
                    </div>
                </div>
                <div hidden id="send_button_block" class="text-center">
                    <button data-bind="click: sendButton" style="width: 150px;" class="btn btn-primary">Send</button>
                </div>
            </div>
        }

        <div id="comments" hidden data-bind="foreach: { data: comments, afterAdd: fadeIn, beforeRemove: fadeOut }">
            <div class="panel panel-default">
                <div class="panel-heading heading-colors">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-user glyph-color"></span>
                            <span data-bind="text: userName"></span>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-right">
                                <span data-bind="text: moment(dateTime).calendar()"></span>
                                <span data-bind="if: userName == '@User.Identity.GetUserName()' || @User.IsInRole("Admin").ToString().ToLower()">
                                    <a data-bind="click: $root.removeButton" style="margin-left: 10px; font-size: 16px;" title="Remove this comment"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" data-bind="html: comment"></div>
            </div>
        </div>

        <div data-bind="ifnot: isCommentsLoaded" class="text-center" style="margin: 25px;">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw" style="color: mediumseagreen;"></i>
            <span class="sr-only">Loading comments...</span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/raterater.jquery.js"></script>
    <script src="~/Scripts/summernote.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        var albumId = @Model.Id;
        var userId = '@User.Identity.GetUserId()';
    </script>
    <script src="~/Scripts/errorHandling.js"></script>
    <script src="~/Scripts/pushNotifications.js"></script>
    <script src="~/Scripts/rating.js"></script>
    <script src="~/Scripts/mobile.js"></script>
}

@section css
{
    <link href="~/Content/summernote.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/raterater.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
}
